name: Build & Push Angular App to Docker Hub

on:
  pull_request:
    types:
      - opened
      - ready_for_review
      - closed
  push:
    branches:
      - master
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1) Checkout du code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2) Setup Node pour build Angular
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # 3) Cache npm (plus rapide)
      - name: Cache node modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      # 4) Installer dépendances Angular
      - name: Install dependencies
        run: npm install --legacy-peer-deps

      # 5) Exécuter les tests unitaires
      - name: Run Unit Tests
        run: npm run test -- --watch=false --browsers=ChromeHeadless

      # 6) Build Angular
      - name: Build Angular app
        run: npm run build -- --configuration production

      # 7) Login Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 8) Build & Push Image Docker
      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/my-shop-angular:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/my-shop-angular:${{ github.run_number }}
